includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    excludes_analyse:
        - %rootDir%/../../../tests/Tsufeki/KayoJsonMapper/Fixtures/*
    ignoreErrors:
        -
            message: '#Parameter .1 .callable of method Tsufeki\\KayoJsonMapper\\MetadataProvider\\.*CallableMetadataProvider::getCallableMetadata\(\) expects \(callable\(\): mixed\)\|ReflectionFunctionAbstract, .* given#'
            paths:
                - %rootDir%/../../../tests/Tsufeki/KayoJsonMapper/MetadataProvider/*
